This basic exercise explains about Exploratory Data Analysis done on the Auto MPG Dataset. 
This exercise was done as part of my PGPAIML Course.


Dataset Link : https://archive.ics.uci.edu/ml/datasets/auto+mpg
UCI Machine Learning Repository

In [1]:
#### Pre-requisites for this exercise

#Numpy is Numerical python library 
import numpy as np

# Pandas is used to handle datasets and using them as dataframes, in a tabular fashion
import pandas as pd

# Matplot lib is a plotting library
import matplotlib.pyplot as plt

# Seaborn is for statistical plots
import seaborn as sns

# To plot graphs inline
%matplotlib inline

In [2]:
# Read the csv into pandas Dataframe

df= pd.read_csv("Car-mpg- Dataset.csv")

In [3]:
# Read the top few rows
df.head()

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino